<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.citesshow">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Citesshow"
        tools:targetApi="31">
        <activity
            android:name=".catrin_montain"
            android:exported="false" />
        <activity
            android:name=".ghazala_garden"
            android:exported="false" />
        <activity
            android:name=".safri"
            android:exported="false" />
        <activity
            android:name=".ras_mohamed"
            android:exported="false" />
        <activity
            android:name=".dolphin_park"
            android:exported="false" />
        <activity
            android:name=".mount_catrein"
            android:exported="false" />
        <activity
            android:name=".soho_sunset"
            android:exported="false" />
        <activity
            android:name=".peace_icon"
            android:exported="false" />
        <activity
            android:name=".colored_canyon_sinai"
            android:exported="false" />
        <activity
            android:name=".alshaba_mosque"
            android:exported="false" />
        <activity
            android:name=".lead_mountain"
            android:exported="false" />
        <activity
            android:name=".dolphin_house"
            android:exported="false" />
        <activity
            android:name=".wadielgemal_reserve"
            android:exported="false" />
        <activity
            android:name=".alsamaday_reserve"
            android:exported="false" />
        <activity
            android:name=".berenice_village"
            android:exported="false" />
        <activity
            android:name=".port_ghali"
            android:exported="false" />
        <activity
            android:name=".abughosoum_wreck"
            android:exported="false" />
        <activity
            android:name=".metoer_lake"
            android:exported="false" />
        <activity
            android:name=".thrush_tree"
            android:exported="false" />
        <activity
            android:name=".lagon_island"
            android:exported="false" />
        <activity
            android:name=".canyon"
            android:exported="false" />
        <activity
            android:name=".light_house"
            android:exported="false" />
        <activity
            android:name=".blue_hole"
            android:exported="false" />
        <activity
            android:name=".colored_canyons"
            android:exported="false" />
        <activity
            android:name=".wadi_gnai"
            android:exported="false" />
        <activity
            android:name=".nabq_reserve"
            android:exported="false" />
        <activity
            android:name=".aiel_garden"
            android:exported="false" />
        <activity
            android:name=".elmontazh"
            android:exported="false" />
        <activity
            android:name=".stanelt_bridge"
            android:exported="false" />
        <activity
            android:name=".alex_library"
            android:exported="false" />
        <activity
            android:name=".ras_eltin_palace"
            android:exported="false" />
        <activity
            android:name=".kom_eldika"
            android:exported="false" />
        <activity
            android:name=".the_lost_city"
            android:exported="false" />
        <activity
            android:name=".boldt_castle"
            android:exported="false" />
        <activity
            android:name=".abas_mosque"
            android:exported="false" />
        <activity
            android:name=".abu_qir"
            android:exported="false" />
        <activity
            android:name=".citbey_citadel"
            android:exported="false" />
        <activity
            android:name=".great_sphinx"
            android:exported="false" />
        <activity
            android:name=".the_grand_eg_musuem"
            android:exported="false" />
        <activity
            android:name=".the_zoo"
            android:exported="false" />
        <activity
            android:name=".alorman_park"
            android:exported="false" />
        <activity
            android:name=".alazher_mosque"
            android:exported="false" />
        <activity
            android:name=".alazher_park"
            android:exported="false" />
        <activity
            android:name=".pharonic_village"
            android:exported="false" />
        <activity
            android:name=".solar_boat"
            android:exported="false" />
        <activity
            android:name=".pyrmids"
            android:exported="false" />
        <activity
            android:name=".luxorTemple"
            android:exported="false" />
        <activity
            android:name=".cournish"
            android:exported="false" />
        <activity
            android:name=".internationalgarden"
            android:exported="false" />
        <activity
            android:name=".RamsuemTemple"
            android:exported="false" />
        <activity
            android:name=".vallyofqueen"
            android:exported="false" />
        <activity
            android:name=".vallyofking"
            android:exported="false" />
        <activity
            android:name=".BananaIsland"
            android:exported="false" />
        <activity
            android:name=".Nadalandpark"
            android:exported="false" />
        <activity
            android:name=".MotuaryTemple"
            android:exported="false" />
        <activity
            android:name=".luxormusuem"
            android:exported="false" />
        <activity
            android:name=".Deirelmedina"
            android:exported="false" />
        <activity
            android:name=".Abydocity"
            android:exported="false" />
        <activity
            android:name=".highdambridge"
            android:exported="false" />
        <activity
            android:name=".AjelicaIsland"
            android:exported="false" />
        <activity
            android:name=".ValentinIsalnd"
            android:exported="false" />
        <activity
            android:name=".Sohali_island"
            android:exported="false" />
        <activity
            android:name=".Temple_of_ramses"
            android:exported="false" />
        <activity
            android:name=".Temple_of_Komobo"
            android:exported="false" />
        <activity
            android:name=".Templeofkalasha"
            android:exported="false" />
        <activity
            android:name=".Karanak_temple"
            android:exported="false" />
        <activity
            android:name=".Abu_simple_temple"
            android:exported="false" />
        <activity
            android:name=".djaracave"
            android:exported="false" />
        <activity
            android:name=".housemusuem"
            android:exported="false" />
        <activity
            android:name=".deadmountain"
            android:exported="false" />
        <activity
            android:name=".Gazala"
            android:exported="false" />
        <activity
            android:name=".fatnasIsland"
            android:exported="false" />
        <activity
            android:name=".greatSandSea"
            android:exported="false" />
        <activity
            android:name=".theTempleOfOracle"
            android:exported="false" />
        <activity
            android:name=".theshali"
            android:exported="false" />
        <activity
            android:name=".salt_lake"
            android:exported="false" />
        <activity
            android:name=".elbaronpalace"
            android:exported="false" />
        <activity
            android:name=".khanelkhalili"
            android:exported="false" />
        <activity
            android:name=".abadeenpalace"
            android:exported="false" />
        <activity
            android:name=".nationalmusuem"
            android:exported="false" />
        <activity
            android:name=".elmoezStreet"
            android:exported="false" />
        <activity
            android:name=".ashafahmi"
            android:exported="false" />
        <activity
            android:name=".cairoTower"
            android:exported="false" />
        <activity
            android:name=".egyptianmusuem"
            android:exported="false" />
        <activity
            android:name=".description"
            android:exported="false" />
        <activity
            android:name=".sharmel"
            android:exported="false" />
        <activity
            android:name=".gona"
            android:exported="false" />
        <activity
            android:name=".siwa"
            android:exported="false" />
        <activity
            android:name=".elgharda"
            android:exported="false" />
        <activity
            android:name=".marsaAlam"
            android:exported="false" />
        <activity
            android:name=".matrouh"
            android:exported="false" />
        <activity
            android:name=".dahab"
            android:exported="false" />
        <activity
            android:name=".luxor"
            android:exported="false" />
        <activity
            android:name=".aswan"
            android:exported="false" />
        <activity
            android:name=".alexandria"
            android:exported="false" />
        <activity
            android:name=".cairo"
            android:exported="false" />
        <activity
            android:name=".placesingiza"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>